.skills{
    width: 80%;
    margin: 150px auto;
}

.skills-header{
    font-size: 35px;
    text-align: center;
}

.skills-img-wrapper{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.skills-img-container{
    width: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-img-container img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 10px 0;
}

.skills-name{
    text-align: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .skills{
        width: 90%;
        margin: 80px auto;
    }
    
    .skills-header{
        font-size: 32px;
    }

    .skills-img-container{
        width: 16%;
    }
    
    .skills-img-container img{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 576px) {

    .skills-img-container{
        width: 22%;
    }
    
    .skills-img-container img{
        width: 70px;
        height: 70px;
    }
}