.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  background-color: #161513;
  padding: 20px 0;
}

.footer-name {
  font-size: 25px;
}

.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 22px;
}
